<!-- <div>
  <mat-sidenav-container>

    <mat-sidenav color="accent" #sidenav opened="true" mode="side" class="example-sidenav">

      <mat-nav-list>
        <mat-list-item>
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <h4 mat-line> <a [routerLink]="['/users/admin-blog']">Dashboard</a></h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>person</mat-icon>
          <h4 mat-line>
            <a [routerLink]="['/users/admin-blog/blog-list']">Blog-list</a>
          </h4>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon>person</mat-icon>
            <h4 mat-line>
              <a [routerLink]="['/users/admin-blog/create-blog']">Create Blog</a>
            </h4>
          </mat-list-item>
          <mat-list-item>
              <mat-icon mat-list-icon>person</mat-icon>
              <h4 mat-line>
                <a [routerLink]="['/users/admin-blog/edit-blog']">Edit Blog</a>
              </h4>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>person</mat-icon>
                <h4 mat-line>
                  <a (click)="showInPopup()">Show in popup</a>
                </h4>
              </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>description</mat-icon>
          <h4 mat-line>IRC Forms</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>people</mat-icon>
          <h4 mat-line>Members</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Manage</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>person</mat-icon>
          <h4 mat-line>Profile</h4>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>settings</mat-icon>
          <h4 mat-line>Settings</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>User</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>exit_to_app</mat-icon>
          <h4 mat-line>Logout</h4>
        </mat-list-item>
      </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar class="example-sidenav">
      <span>Blog Example</span>
    </mat-toolbar>
    <div class="main-content">
      <div>
        <app-ats-blog></app-ats-blog>
      </div>
    </div>
  </mat-sidenav-container>

</div> -->
fghfghfhfhjhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhyuk
<app-blog-view></app-blog-view>
<button mat-raised-button color="accent" [routerLink]="['blog-list']">Blog list</button>
<button mat-raised-button color="accent" [routerLink]="['blog-create']">Blog create</button>
