.example-card {
  width: 750px;
  margin: 0px auto;
}
.comment-card{
  width: 500px;
  margin: 0px auto;
}

.example-header-image {
  background-image: url('/assets/image2.jpg');
  background-size: cover;

}
.mat-card-content{
  font-size: 20px
}

/*/deep/ mat-card-avatar{
  height:50px;
  width: 50px
}*/
 .content {
   --x-height-multiplier: 0.375;
     --baseline-multiplier: 0.17;
     font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
     letter-spacing: .01rem;
     font-weight: 400;
     font-style: normal;
     font-size: 21px;
     line-height: 1.58;
     letter-spacing: -.003em;
 }

 .action{
   display: flex;
   flex-direction: row;
 }
 .left-action{
   display: flex;
 }
 .right-action{
   float: right;
   margin-right: 380px;
   display: flex;
 }
 .spacer{
   margin-right: 345px;
   height: 40px
 }

 .commentarea{
   width: 100%;
   height: 180px;
 }
 .insertEmogi{
   display: flex;
   flex-direction: row;
 }
